@page "/game/{playerName}"
@inject NavigationManager Navigation
@inject FactRush.Services.TopScoreService ScoreService
@inject FactRush.Services.GameState GameState
@implements IDisposable


<div class="container mt-5 text-center">
    @if (!GameState.GameOver)
    {
        <GameInterface></GameInterface>
    }
    else
    {
        <h2 class="text-danger">Game Over!</h2>
        <p class="lead">Votre score : @GameState.Score</p>
        <button class="btn btn-primary" @onclick="RestartGame">Try again</button>
        <button class="btn btn-primary" @onclick='()=> Navigation.NavigateTo("/")'>Home</button>
    }
</div>

@code {
    // Variables de jeu
    [Parameter]
    public string playerName { get; set; } = "";

    protected override void OnInitialized()
    {
        // Mettre à jour l'état partagé avec le playerName reçu en paramètre
        GameState.PlayerName = playerName;
        GameState.OnChange += StateHasChanged;
    }

    private void RestartGame()
    {
        GameState.Score = 0;
        GameState.GameOver = false;
    }

    public void Dispose()
    {
        GameState.OnChange -= StateHasChanged;
    }
}
