@page "/"
@inject NavigationManager Navigation
@inject FactRush.Services.ScoreService ScoreService

<div class="container mt-5 text-center">
    <h1 class="display-4">QuizRush</h1>
    <p class="lead">Test your general knowledge and climb the leaderboard!</p>
    <TopScores></TopScores>
</div>
