@page "/"
@inject NavigationManager Navigation
@inject FactRush.Services.ScoreService ScoreService

<div class="container mt-5 text-center">
    <h1 class="display-4">QuizRush</h1>
    <p class="lead">Testez votre rapidité et grimpez au classement !</p>
    <button class="btn btn-primary btn-lg mb-4" @onclick='() => Navigation.NavigateTo("/game")'>Let's play!</button>
    <h2 class="h3 mt-5 mb-3">Meilleurs Scores</h2>
    <ul class="list-group">
        @foreach (var score in ScoreService.TopScores)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                @score.PlayerName
                <span class="badge bg-primary rounded-pill">@score.Points pts</span>
            </li>
        }
    </ul>
</div>
